@using EntityLayer.Concrete
@model List<Experience>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}

<div class="card">
    <!-- Card header -->
    <div class="card-header border-0">
        <h3 class="mb-0">Deneyimlerim Tablosu</h3>
    </div>
    <!-- Light table -->
    <div class="table-responsive">
        <table class="table align-items-center table-flush">
            <thead class="thead-light">
                <tr>
                    <th scope="col" class="sort" data-sort="name">#</th>
                    <th scope="col" class="sort" data-sort="budget">Başlık</th>
                    <th scope="col" class="sort" data-sort="status">Alt Başlık</th>
                    <th scope="col">Sil</th>
                    <th scope="col" class="sort" data-sort="completion">Düzenle</th>
                    <th scope="col"></th>
                </tr>
            </thead>

            <tbody class="list">
                @foreach (var item in Model)
                {
                    <tr>
                        <th scope="row">
                            <div class="media align-items-center">
                                <div class="media-body">

                                    <span class="name mb-0 text-sm">@item.ExperienceId</span>
                                </div>
                            </div>
                        </th>

                        <td class="budget">@item.Title </td>

                        <td>
                            <div class="d-flex align-items-center">
                                <span class="completion mr-2">@item.SubTitle</span>
                                <div>
                                    
                                </div>
                            </div>
                        </td>

                        <td><a href="/Experience/DeleteExperience/@item.ExperienceId" class="btn btn-danger">Sil</a></td>
                        <td><a href="/Experience/EditExperience/@item.ExperienceId" class="btn btn-info">Güncelle</a></td>
                    </tr>
                }
            </tbody>

        </table>
        <br />
        <a href="/Experience/AddExperience" class="btn btn-primary">Deneyim Ekle</a>
    </div>



</div>




