@model EntityLayer.Concrete.Testimonial
@{
    ViewData["Title"] = "AddTestimonial";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}
<h3>Referans Ekle</h3>
<form asp-action="AddTestimonial">
<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <div class="form-group">
                <label>Referans Adı</label>
                <input type="text" class="form-control" asp-for="@Model.ClientName" />
                </div>
                <div class="form-group">
                    <label>Şirket/Kurum Adı</label>
                    <input type="text" class="form-control" asp-for="@Model.Company" />
                </div>
                <div class="form-group">
                    <label>Resim Yolu</label>
                    <input type="text" class="form-control" asp-for="@Model.ImageUrl" />
                </div>
                <div class="form-group">
                    <label>Yorum</label>
                    <textarea class="form-control" asp-for="@Model.Comment" rows="6"></textarea>
                </div>
                <button type="submit" class="btn btn-primary"> Kaydet</button>

            

            <br />
            
        </div>
    </div>
</div>
</form>
<a href="/Testimonial/Index" class="btn btn-danger" style="width:100px">Geri Dön</a>
