<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
        <a class="sidebar-brand brand-logo" href="~/corona-dashboard/index.html"><img src="~/corona-dashboard/template/assets/images/logo.svg" alt="logo" /></a>
        <a class="sidebar-brand brand-logo-mini" href="~/corona-dashboard/index.html"><img src="~/corona-dashboard/template/assets/images/logo-mini.svg" alt="logo" /></a>
    </div>
    <ul class="nav">
        <li class="nav-item profile">
            <div class="profile-desc">
                <div class="profile-pic">
                    <div class="count-indicator">
                        <img class="img-xs rounded-circle " src="~/userimage/398acdb1-ddaa-457b-ab3f-493b96a2856d.png" alt="">
                        <span class="count bg-success"></span>
                    </div>
                    <div class="profile-name">
                        <h5 class="mb-0 font-weight-normal">Hüda Enes Sönmez</h5>
                        <span>Admin</span>
                    </div>
                </div>
               
            </div>
        </li>
        <li class="nav-item nav-category">
            <span class="nav-link">Menüler</span>
        </li>
        <li class="nav-item menu-items">
            <a class="nav-link" href="/Dashboard/Index/">
                <span class="menu-icon">
                    <i class="mdi mdi-speedometer"></i>
                </span>
                <span class="menu-title">Dashboard</span>
            </a>
        </li>
        <li class="nav-item menu-items">
            <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
                <span class="menu-icon">
                    <i class="mdi mdi-laptop"></i>
                </span>
                <span class="menu-title">CV Sitesi</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-basic">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="/Feature/Index/">Öne Çıkanlar</a></li>
                    <li class="nav-item"> <a class="nav-link" href="/About/Index/">Hakkımda</a></li>
                    <li class="nav-item"> <a class="nav-link" href="/Service/Index/">Öğrendiklerim</a></li>
                    <li class="nav-item"> <a class="nav-link" href="/Skill/Index/">Yeteneklerim</a></li>
                    <li class="nav-item"> <a class="nav-link" href="/Portofolio/Index/">Portfolyom</a></li>
                    <li class="nav-item"> <a class="nav-link" href="/Experience/Index/">Deneyimlerim</a></li>
                    <li class="nav-item"> <a class="nav-link" href="/Testimonial/Index/">Referanslar</a></li>
                    <li class="nav-item"> <a class="nav-link" href="/SocialMedia/Index/">Sosyal Medya Bilgileri</a></li>
                    <li class="nav-item"> <a class="nav-link" href="/ContactSubplace/Index/">Bana Ulaş Bilgiler</a></li>
                    <li class="nav-item"> <a class="nav-link" href="/Contact/ContactList/">Bana Ulaş</a></li>

                </ul>
            </div>


        <li class="nav-item menu-items">
            <a class="nav-link" href="/Message/RecievedAdminMessages/">
                <span class="menu-icon">
                    <i class="mdi mdi-speedometer"></i>
                </span>
                <span class="menu-title">Gelen Mesajlar</span>
            </a>
        </li>
        <li class="nav-item menu-items">
            <a class="nav-link" href="/Message/SendedAdminMessages/">
                <span class="menu-icon">
                    <i class="mdi mdi-speedometer"></i>
                </span>
                <span class="menu-title">Giden Mesajlar</span>
            </a>
        </li>
        <li class="nav-item menu-items">
            <a class="nav-link" href="~/corona-dashboard/template/index.html">
                <span class="menu-icon">
                    <i class="mdi mdi-speedometer"></i>
                </span>
                <span class="menu-title">Mesaj Gönder</span>
            </a>
        </li>

        <li class="nav-item menu-items">
            <a class="nav-link" href="~/corona-dashboard/template/index.html">
                <span class="menu-icon">
                    <i class="mdi mdi-speedometer"></i>
                </span>
                <span class="menu-title">Şifreler ve Güvenlik</span>
            </a>
        </li>
        <li class="nav-item menu-items">
            <a class="nav-link" href="~/corona-dashboard/template/index.html">
                <span class="menu-icon">
                    <i class="mdi mdi-speedometer"></i>
                </span>
                <span class="menu-title">Tablolar</span>
            </a>
        </li>
        <li class="nav-item menu-items">
            <a class="nav-link" href="~/corona-dashboard/template/index.html">
                <span class="menu-icon">
                    <i class="mdi mdi-speedometer"></i>
                </span>
                <span class="menu-title">Grafikler</span>
            </a>
        </li>
        <li class="nav-item menu-items">
            <a class="nav-link" href="~/corona-dashboard/template/index.html">
                <span class="menu-icon">
                    <i class="mdi mdi-speedometer"></i>
                </span>
                <span class="menu-title">İstatistikler</span>
            </a>
        </li>
        <li class="nav-item menu-items">
            <a class="nav-link" href="~/corona-dashboard/template/index.html">
                <span class="menu-icon">
                    <i class="mdi mdi-speedometer"></i>
                </span>
                <span class="menu-title">İletişim</span>
            </a>
        </li>
        <li class="nav-item menu-items">
            <a class="nav-link" href="~/corona-dashboard/template/index.html">
                <span class="menu-icon">
                    <i class="mdi mdi-speedometer"></i>
                </span>
                <span class="menu-title">İkonlar</span>
            </a>
        </li>
        <li class="nav-item menu-items">
            <a class="nav-link" href="http://www.bootstrapdash.com/demo/corona-free/jquery/documentation/documentation.html">
                <span class="menu-icon">
                    <i class="mdi mdi-file-document-box"></i>
                </span>
                <span class="menu-title">Dökümanlar</span>
            </a>
        </li>
    </ul>
</nav>
