<div class="media align-items-center">
    <span class="avatar avatar-sm rounded-circle">
        <img alt="Image placeholder" src="~/userimage/@ViewBag.Image">
    </span>
    <div class="media-body  ml-2  d-none d-lg-block">
        <span class="mb-0 text-sm  font-weight-bold">@ViewBag.Name</span>
    </div>
</div>